### Target Encoding 

This is based on binary classification.

In [16]:
import pandas as pd
from category_encoders import TargetEncoder

In [17]:
# !pip install category_encoders

In [18]:
# load the dataset - sample data 
df = pd.read_csv("targetEncoding.csv")
df.head(10)

   Class  target
0  Btech       1
1  Btech       1
2  Btech       1
3  Btech       0
4  Mtech       1

In [20]:
encoder = TargetEncoder()
df['encoded'] = encoder.fit_transform(df['Class'], df['target'])
df.head(10)

   Class  target   encoded
0  Btech       1  0.749772
1  Btech       1  0.749772
2  Btech       1  0.749772
3  Btech       0  0.749772
4  Mtech       1  0.205396
5  Mtech       0  0.205396
6  Mtech       0  0.205396
7  Mtech       0  0.205396
8  Mtech       0  0.205396
9    BBA       0  0.059601

This is very imporant when you have  many classes into the model.

Calculate the probability of Target 1 occurring given each specific ‘Animal Group.’ When we do this we get the following values in Table 2: